<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
    <ion-button routerLink="/details" expand="block">
      Go to details!
    </ion-button>
    <ion-button routerLink="/page2" expand="block">
      Go to page2!!
    </ion-button>
    <ion-button routerLink="/sw-films" expand="block">
      Go to Star wars films page
    </ion-button>
    <ion-button routerLink="/sw-infinite" expand="block">
      A little more!
    </ion-button>
    <ion-button routerLink="/navparams" expand="block">
      Modal & Popover
    </ion-button>
    <ion-button routerLink="/sw-films-reorder" expand="block">
      SW films with reorder
    </ion-button>
  </div>
</ion-content>
