<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home" ></ion-back-button>
        </ion-buttons>
    <ion-title>details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar slot="end">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    This is something!
  </ion-item>
  <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  <div class="ion-padding">
    This is a new page!!
  </div>
  <ion-button (click)="presentAlert()" expand="block">
    This is a alert button
  </ion-button>
  <ion-button (click)="presentActionSheet()" expand="block">
    This is a sheet button
  </ion-button>
  <ion-item>
      <ion-avatar slot="end">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      This is something!
    </ion-item>
    <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <div class="ion-padding">
      This is a new page!!
    </div>
    <ion-button (click)="presentAlertPrompt()" expand="block">
      This is a alert prompt button
    </ion-button>
    <ion-button (click)="presentActionSheet()" expand="block">
      This is a sheet button
    </ion-button><ion-item>
        <ion-avatar slot="end">
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        This is something!
      </ion-item>
      <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <div class="ion-padding">
        This is a new page!!
      </div>
      <ion-button (click)="presentActionSheet()" expand="block">
        This is a sheet button
      </ion-button>
      <ion-button (click)="presentActionSheet()" expand="block">
        This is a sheet button
      </ion-button><ion-item>
          <ion-avatar slot="end">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
          </ion-avatar>
          This is something!
        </ion-item>
        <ion-avatar>
            <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <div class="ion-padding">
          This is a new page!!
        </div>
        <ion-button (click)="presentActionSheet()" expand="block">
          This is a sheet button
        </ion-button>
        <ion-button (click)="presentActionSheet()" expand="block">
          This is a sheet button
        </ion-button>

</ion-content>
